version: "3.8"

services:
  postgres:
    image: docker.io/library/postgres:16
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: strongpassword

    volumes:
      - postgres_data:/var/lib/postgresql/data

    ports:
      - "5432:5432"

volumes:
  postgres_data:
